.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.mobile-flex-row{
    display: flex;
    flex-direction: row;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.mobile-flex-column{
    display: flex;
    
}
@media(max-width: 991px){
    .mobile-flex-row{
        flex-direction: column;
    }
    .mobile-flex-column{
        display: flex;
        flex-direction: column;
    }
}